:root {
    --white: #d3d6db;
    --greyish: #3a4750;
    --darkgrey: #303841;
    --redish: #be3144;
}

body, html {
    margin: 0;
    font-family: "Helvetica Neue", sans-serif;
}

h1 {
    color: var(--redish);
}

h4 {
    color: var(--white);
}

.content {
    text-align: center;
    background-color: var(--darkgrey);
    margin: 0 auto;
    padding: 20px 0px;
    width: 640px;
}

#content {
    padding: 8px 20px;
    border-radius: 5px;
    box-sizing: border-box;
}

.explanations {
    border-radius: 5px;
    padding: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 10px auto;
    background-color: var(--greyish);
}

.explanations p {
    margin: 0;
    margin-bottom: 7px;
    text-align: left;
}

.bold {
    font-weight: 700;
}

table, td, th, tr {
    border: 1px solid #aaa;
}

table {
    color: var(--white);
    table-layout: auto;
    width: 500px;
    margin: 0 auto;
    border-collapse: collapse;
}

th {
    height: 30px;
    background-color: var(--greyish);
    color: black;
}

td {
    background-color: var(--white);
    text-align: center;
    padding: 5px;
    color: black;
}

.free {
    color: var(--redish);
    font-weight: 600;
}

form {
    width: 400px;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    margin: 20px auto;
    gap: 10px;
}


.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: var(--redish);
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

button a {
    text-decoration: none;
    color: #fff;
}

th, td {
    max-width: 200px;
    word-wrap: break-word;
    min-width: 80px;
}

@media (max-width: 600px) {
    .content {
        width: 390px;
    }
    form {
        width: 350px;
    }
}