{% extends 'base.html' %}

{% block head %}
<title>How much is my medication</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>How Much Is My Medication? 💊</h1>
    <form action="/" method="POST">
        <input type="text" name="content" id="content" placeholder="Enter Medication Name">
        <button class="button-9" method="POST">SEARCH</a>
        <button class="button-9"><a href="/delete">CLEAR</a></button>
    </form>
    {% if meds|length < 1 %}
    <h4> Search for your medication above.</h4>
    {% else %}
    <div class="explanations">
        <p><span class="bold">Name :</span> Brand Name (Generic Name)</p>
        <p><span class="bold">Price :</span> Medication cost without coverage</p>
        <p><span class="bold">Government Pays :</span> Ontario's coverage if you are 25 and under, 65 and over, or under ODSP/OW</p>
        <p><span class="bold">Monthly price :</span> Assumed 30 days with coverage</p>
        <p><span class="bold">LU code :</span> Special code required for coverage.</p>
    </div>

    <table class="center">
        <tr>
            <th>Name</th>
            <th>Price($)</th>
            <th>Government Pays ($)</th>
            <th>Monthly price ($)</th>
            <th>LU code?</th>
        </tr>
        {% for i in range(n) %}
        <tr>
            <td>{{ meds[i].generic }}({{ meds[i].brand }})</td>
            <td>{{ meds[i].price }}</td>
            <td>{{ meds[i].moh }}</td>
            {% if monthly_prices[i] == "0.00" %}
                <td class="free">FREE</td>
            {% else %}
                <td>{{ monthly_prices[i] }}</td>
            {% endif %}
            <td>{{ meds[i].lu | safe }}</td>
        </tr>
        {% endfor %}
    </table>
    
    <h2>Cheapest option is <u>{{ cheapest }}</u></h2>
    {% endif %}
</div>

{% endblock %}