{% extends 'base.html' %}

{% block head %}
<title>How much is my medication</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>How much is my medication?</h1>
    <form action="/" method="POST">
        <input type="text" name="content" id="content" placeholder="Enter Medication Name">
        <button class="button-9" method="POST">SEARCH</a>
        <button class="button-9"><a href="/delete">CLEAR</a></button>
    </form>
    {% if meds|length < 1 %}
    <h4> There are no medications</h4>
    {% else %}

    <table class="center">
        <tr>
            <th>DIN</th>
            <th>Generic Name</th>
            <th>Brand Name</th>
            <th>Price($)</th>
            <th>Government Pays ($)</th>
            <th>Final price ($)</th>
            <th>Monthly price ($)</th>
            <th>LU code</th>
        </tr>
        {% for i in range(n) %}
        <tr>
            <td>{{ meds[i].din }}</td>
            <td>{{ meds[i].generic }}</td>
            <td>{{ meds[i].brand }}</td>
            <td>{{ meds[i].price }}</td>
            <td>{{ meds[i].moh }}</td>
            <td>{{ final_prices[i] }}</td>
            <td>{{ monthly_prices[i] }}</td>
            <td>{{ meds[i].lu | safe }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    
    <h2>{{ cheapest }}</h2>
</div>

{% endblock %}